/* a 태그 밑줄제거 */
a{
    text-decoration: none;
    color: black;
}

/* header */
header{
    display: flex;
    margin: 6vh 0 3vh 0;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 160px;
    height: 40px;
    align-self: stretch;
    left: 0;
}
header > .logo:last-child{
    margin-left: 1vw;
}
#menu{
    padding: 0;
    font-size: 14px;
}
#menu li{
    display: inline-block;
    margin-left: 2vw;
}
#menu > li:nth-child(n+6){
    margin-left: 1vw;
}

/* section1 */
#art1{
    width: 100vw;
    height: 0;
    padding-top : calc(400 / 900 * 100%);
    background-image: url(../toyota/img/art1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#art2{
    display: grid;
    width: 100vw;
    height: 900px;
    /* padding-top : calc(400 / 900 * 100%); */
    background-color: rgb(28, 28, 28);
    justify-items: center;
    align-items: center;
    grid-column: 1fr 1fr 1fr;
}

/* section2 */
#sc2{
    display: grid;
    margin: 5vh 10vw 0 10vw;
    width: 1200px;
    grid-template-columns: 600px 300px 100px;
    grid-template-rows: 100px 200px 200px 200px 100px;
    gap: 10px 25px;
    justify-content: center;
}
#img1{
    width: 100%;
    height: 100%;
    grid-row: span 3;
    background-image: url(../toyota/img/toyota-home-now-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#img2{
    width: 100%;
    height: 100%;
    background-image: url(../toyota/img/toyota-home-now-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#img3{
    width: 100%;
    height: 100%;
    background-image: url(../toyota/img/toyota-home-now-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#img4{
    width: 100%;
    height: 100%;
    background-image: url(../toyota/img/toyota-home-now-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* section3 */
#sc3{
    width: 100vw;
    height: 600px;
    background-image: url(../toyota/img/article3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* section4 */
#sc4{
    width: 100vw;
    height: 600px;
    background-image: url(../toyota/img/car.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* footer */
footer{
    width: 100vw;
    margin-bottom: 0;
    display: grid;
    grid-template-areas: 
    "a b"
    "c d";
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 12px; 
}
#logoW{
    width: 160px;
    margin: 3vw 0 0 10vw;
    grid-area: "a";
}
#site{
    grid-area: "b";
    display: flex;
    align-items: end;
    justify-content: center;
}
footer ul{
    padding-left: 0;
}
footer li{
    grid-area: "c";
    display: inline-block;
    margin-right: 3vw;
}
footer a{
    color: white;
}
