/* header */
header{
    width: 100vw;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    margin: 0 10vw 0 10vw;
}
#logo{
    width: 160px;
    left: 0;
}
header li{
    display: inline-block;
    margin-left: 3vw;
    font-size: 15px;
}
#logo2{
    width: 100px;
    height: 39px;
    margin-left: 3vw;
}
/* article1 */
#art1{
    width: 100vw;
    height: 600px;
    background-image: url(../toyota/img/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#art15{
    width: 100vw;
    height: 600px;
    background-image: url(../toyota/img/backgroundimage2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* article2 */
#section1{
    display: grid;
    align-content: center;
    width: 80vw;
    height: 1000px;
    margin: auto 10vw;
    grid-template-areas: 
    "a b e"
    "a c f"
    "a d g";
    gap: 10px;
}
#a{
    grid-area: a;
    width: 100%;
}
#b{
    width: 70%;
    grid-area: b;
}
#c{
    width: 70%;
    grid-area: c;
}
#d{
    width: 70%;
    grid-area: d;
}
/* article3 */
#art3{
    width: 100vw;
    height: 600px;
    background-image: url(../toyota/img/article3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* article4 */
#art4{
    width: 100vw;
    height: 600px;
    background-image: url(../toyota/img/car.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* footer */
footer{
    width: 100vw;
    margin-bottom: 0;
    display: grid;
    grid-template-areas: 
    "a b"
    "c d";
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 12px; 
}
#logoW{
    width: 160px;
    margin: 3vw 0 0 10vw;
    grid-area: "a";
}
#site{
    grid-area: "b";
    display: flex;
    align-items: end;
    justify-content: center;
}
footer ul{
    padding-left: 0;
}
footer li{
    grid-area: "c";
    display: inline-block;
    margin-right: 3vw;
}
