#searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
#searchBox{
    width: 40vw;
    height: 5vh;
}
#CategoryContainer{
    display: flex;
    background-color: antiquewhite;
    width: 60vw;
    height: 10vh;
    margin: 50px auto;
}
.category{
    width: 10vw;
    height: 10vh;
    display: inline-block;
    text-align: center; 
}
#itemContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    background-color: aquamarine;
    width: 60vw;
    height: 40vh;
    margin: 0px auto;
}
.item{
    width: 18vw;
    height: 20vh;
    display: inline-block;
    text-align: center;
}
#leftMenuContainer{
    position: absolute;
    left: 5vw;
    top: 10vh;
    display: flex;
    background-color: tomato;
}
.leftMenu{
    width: 10vw;
    height: 15vh;
}
#rightMenuContainer{
    position: absolute;
    right: 5vw;
    top: 10vh;
    display: flex;
    background-color: cornflowerblue;
}
.rightMenu{
    width: 10vw;
    height: 15vh;
}