/*상위메뉴 1,2,3을 모두 담는 상위 container 스타일 */
#container{ 
    width: 1000px;
    height: 100px;
    background-color: lightyellow;
    display: flex;
    position: relative;
    margin: 0 auto; 
}
/* 상위메뉴들에 공통된 id인 menu를 부여하여 동일한 속성으로 적용 */
.menu{
    width: 250px;
    height: 100px;
    /* flex를 주어서 container를 채움 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 상위메뉴 안에 있는 하위 메뉴들을 담기위한 sub container 스타일 */
.subcontainer{
    width: 250px;
    height: 150px;
    /* 포지션을 absoliute로 주는 이유는 부모요소를 기준으로 잡기위해서 사용*/
    position: absolute;
    /* 부모요소로부터 위로 100px 떨어지도록 설정 */
    top : 100px;
    /* 평소에는 안보이도록 설정 */
    visibility: collapse;
}
/* 하위메뉴들에 공통된 id인 submenu를 부여하여 동일한 속성으로 적용 */
.submenu{
    width: 250px;
    height: 0px;
    /* flex를 주어서 subcontainer를 채움 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* menu에 호버링 시 submenu가 작동되는 기전 */
.menu:hover .submenu{
    transition: 1s;
    /* 호버링 시 서브메뉴 보임 */
    visibility: visible;
    /* 정확히는 서브메뉴에는 백그라운드 색상이 없었는데, 
        호버링 시 색상을 부여하고 높이를 임의로 늘려서
        마치 숨겨져있던 서브메뉴바가 나오는 것처럼 눈속임*/
    height: 50px;
    background-color: bisque;
}

