*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 1.2em;
    font-weight: bold;
}

.color1{
    background-color: sandybrown;
}
.color2{
    background-color: lightgoldenrodyellow;
}
.color3{
    background-color: lightgreen;
}
.color4{
    background-color: lightskyblue;
}
.color5{
    background-color: lightcoral;
}

/*
    box-sizing은 요소의 전체 너비와 높이를 어떻게 계산하는지를 설정
    border-box, content-box
*/