body{
    font-size: 2rem;
    font-weight: bold;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: 
        'a a'
        'b c'
        'd d';
}
.header{
    background-color: black;
    color: white;
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side{
    background-color: gold;
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: black;
    color: white;
    grid-area: d;
    display: flex;
    justify-content: center;
    align-items: center;
}